.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  width: 100vw;
  height: 98vh;
}

.Card_Container {
  width: 400px;
  height: 500px;
  background-color: #FFFFFF;
  box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.16);
}

.Header {
  height: 30%;
  /* height: 160px; */
}

.Main {
  height: 50%;
  /* height: 300px; */
}

.Footer {
  height: 20%;
  /* height: 40px; */
}