@font-face {
  font-family: "Tmoney";
  src: url("./styles/fonts/TmoneyRoundWindExtraBold.ttf")
}
body {
  margin: 0;
  font-family: "Tmoney";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.strike {
  text-decoration: line-through;
  color: #f3e084;
}